<div id="rondines" style="margin-top:1.2em">
    <div class="input-group rounded">
        <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
        <span class="input-group-text border-0" id="search-addon">
            <i class="fas fa-search"></i>
        </span>
    </div>
    <br />
    <br />
    <div class="card">
        <div class="card-body">
            <h5 class="card-title" style="color: #00BFFF "><i class="fas fa-street-view"></i> Rondines</h5>

            <div class="card-text">
                <table class="table">
                    <thead>
                        <tr style="color: #00008B">
                            <th scope="col">#</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Apellido Paterno</th>
                            <th scope="col">Apellido Materno</th>
                            <th scope="col">Turno</th>
                            <th scope="col">Horario</th>
                            <th scope="col">Día libre</th>
                            <th scope="col"></th>
                            <th scope="col"></th>


                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(user,index) in rondines" :key="index">
                            <td>{{index +1}}</td>
                            <td>{{user.nombre}}</td>
                            <td>{{user.apellidoPaterno}}</td>
                            <td>{{user.apellidoMaterno}}</td>
                            <td>{{user.turno}}</td>
                            <td>{{user.horario}}</td>
                            <td>{{user.dia}}</td>
                            <td>
                                <div class="btn bg-info" v-on:click="deleteUser(user.idrondin)">
                                    <i class="fas fa-trash"></i>
                                </div>
                            </td>
                            <td>
                                <div class="btn bg-info" v-on:click="">
                                    <i class="fas fa-edit"></i>
                                </div>
                            </td>

                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Rondines</h5>
                    <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col">
                            <div class="form-outline">
                                <input type="text" id="form12" class="form-control" v-model="rondin.nombre" />
                                <label class="form-label" for="form12">Nombre</label>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-outline">
                                <input type="text" id="form12" class="form-control" v-model="rondin.apellidoPaterno" />
                                <label class="form-label" for="form12">Apellido Paterno</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-outline">
                                <input type="text" id="form12" class="form-control" v-model="rondin.apellidoMaterno"/>
                                <label class="form-label" for="form12">Apellido Materno</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-outline">
                                <label class="form-label" for="form12">Turno</label>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="Diurno" value="Diurno" v-model="rondin.turno">
                                    <label class="form-check-label" for="Diurno">
                                        Diurno
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="Nocturno" value="Nocturno" v-model="rondin.turno">
                                    <label class="form-check-label" for="Nocturno">
                                        Nocturno
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="Mixto" value="Mixto" v-model="rondin.turno">
                                    <label class="form-check-label" for="Mixto">
                                        Mixto
                                    </label>
                                </div>
                            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-outline">
                <select class="form-select" aria-label="Default select example" v-model="rondin.horario">
                    <option value="" disabled selected>Horario</option>
                    <option value="8:00 a.m - 4:00 p.m">8:00 a.m - 4:00 p.m</option>
                    <option value="4:00 p.m - 12:00 a.m">4:00 p.m - 12:00 a.m</option>
                    <option value="12:00 a.m - 8:00 a.m">12:00 a.m - 8:00 a.m</option>

                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-outline">
                <select class="form-select" aria-label="Default select example" v-model="rondin.dia">
                    <option value="" disabled selected>Día libre</option>
                    <option value="Lunes">Lunes</option>
                    <option value="Martes">Martes</option>
                    <option value="Miercoles">Miércoles</option>
                    <option value="Jueves">Jueves</option>
                    <option value="Viernes">Viernes</option>
                    <option value="Sabado">Sabado</option>
                    <option value="Domingo">Domingo</option>

                </select>
                <!-- <input type="text" id="form12" class="form-control" v-model="rondin.dia" />
         <label class="form-label" for="form12">Día libre</label>-->
            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-primary" v-on:click="saveUser">Guardar</button>
                </div>
            </div>
        </div>
    </div>



    <button type="button" class="btn btn-primary btn-floating fab" data-mdb-toggle="modal" data-mdb-target="#exampleModal">
        <i class="fas fa-add"></i>
    </button>
    <br />
    <br />

</div>



@section Scripts{

    <script>
        Vue.createApp({
            data() {
                return {
                    message: 'Hello Vue!',
                   rondines: [],
                    rondin: { nombre: "", apellidoPaterno: "", apellidoMaterno: "", turno: "", horario:"", dia:"" }
                }
            },
            created() {
                this.getVigilancia()
            },
            methods: {
                saveUser() {
                    console.log(this.rondines)
                    axios.post("/Api/Vigilancia", this.rondin).then(res => {
                        console.log(res)
                        this.getVigilancia()
                    }).catch((error) => console.error(error))
                },
                getVigilancia() {
                    axios.get("/Api/Vigilancia").then(res => {
                        console.log(res)
                        this.rondines = res.data
                    }).catch((error) => console.error(error))
                },
                deleteUser(id) {
                    axios.delete("/Api/Vigilancia/" + id).then((res) => {
                        console.log(res)
                        this.getVigilancia()
                    }).catch((error) => console.error(error))
                }
            }
        }).mount('#rondines')
    </script>
}

